﻿@model MoviesApp.Models.Movie
@{
    ViewBag.Title = "Create";
}

<div class="container mt-5">
    <h2>Create New Movie</h2>
    @using (Html.BeginForm("Create", "Movies", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            <label>Movie Name</label>
            @Html.TextBoxFor(m => m.Moviename, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Moviename)
        </div>
        <div class="form-group">
            <label>Date of Release</label>
            @Html.TextBoxFor(m => m.DateofRelease, "", new { @class = "form-control", type = "date" })
            @Html.ValidationMessageFor(m => m.DateofRelease)
        </div>
        <button type="submit" class="btn btn-success">Create</button>}
</div>

